{{#if posts.length}}
<div id="yourPosts" class="d-flex justify-content-between p-3 text-white fw-bold">
    <h2 class="mx-3">Your Posts</h2>
    <a id="newPost" href="/dashboard/newpost">Create New Post</a>
</div>

{{!-- User's Posts --}}
<div class="d-flex justify-content-center align-items-center mt-5">
<div class="card" style="width: 40rem;">
    <ul class="list-group list-group-flush ">
        {{#each posts as |post|}}
        <li class="list-group-item d-flex justify-content-between">
            <div><a href="/post/{{post.id}}"><span>{{post.title}}</span></a> </div>
            <div><a href="/dashboard/edit/{{post.id}}"><button type="button" class="btn btn-outline-warning btn-sm">Edit Post</button></a></div>
        </li>
        {{/each}}
    </ul>
</div>
</div>
    {{else}}
    <div id="yourPosts" class="d-flex justify-content-between p-3 text-white fw-bold">
        <h4 class="mt-2">You do not have any posts yet. Why don't you create one!</h4>
        <a id="newPost" href="/dashboard/newpost"> Create New Post</a>
    </div>

    {{/if}}

<script src="/js/newPost.js"></script>