<div>
    <div class="bg-info p-3 bg-opacity-50 text-white fw-bold">Login</div>
    <form class="p-5" id="login">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="usernameInput" placeholder="Username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3">
            <input type="password" class="form-control" id="passwordInput" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <button type="click" class="btn btn-primary" id="loginbtn">Login</button>
    </form>
</div>

<script src="./js/login.js"></script>