
    <div class="bg-info p-3 bg-opacity-50 text-white fw-bold">
        <h2 class="mx-3">Create New Post</h2>
    </div>
    <div class="p-5 mb-5">
        <form class="new-post-form">
        <div class="mb-3">
            <label for="post-title" class="form-label">Post Title:</label>
            <input type="text" class="form-control" name="post-title" id="post-title" placeholder="Enter Title">
        </div>
        <div class="mb-3">
            <label for="post-content" class="form-label">Post Content:</label>
            <textarea name="post-content" class="form-control" id="post-content" rows="3"></textarea>
        </div>
        <div class="btn-group" role="group" aria-label="Basic outlined example">
            <button type="submit" id="submitButton" class="btn btn-outline-success">Submit</button>
        </div>
        </form>
    </div>



<script src="/js/newPost.js"></script>