<!-- Posts -->
{{> postInfo post}}



{{!-- comments --}}
{{> comments post.comments}}


{{#if logged_in}}
{{!-- add a comment --}}
<div id="comment">
    <div class="p-5 mb-5">
        <div class="mb-3">
            <label for="comment" class="form-label">Comment:</label>
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div aria-label="Basic outlined example">
            <button type="click" class="btn btn-outline-success">Submit</button>
        </div>
    </div>
</div>


<script src="/js/comment.js"></script>

{{else}}

<p class="text-center fw-bold">Please log-in to leave a comment.</p>

{{/if}}