<!-- Posts -->
{{> postInfo post}}



{{!-- comments --}}
{{> comments post.comments}}


{{#if logged_in}}
{{!-- add a comment --}}
<div id="comment" class="mx-5">
    <form class="p-5 mb-5 mx-5">
        <div class="mb-3">
            <label for="comment" class="form-label">Leave a comment:</label>
            <textarea class="form-control"></textarea>
        </div>
        <div aria-label="Basic outlined example">
            <button type="submit" class="btn btn-outline-success">Submit</button>
        </div>
    </form>
</div>


<script src="/js/comment.js"></script>

{{else}}

<p class="text-center fw-bold">Please log-in to leave a comment.</p>

{{/if}}