.card-header{
    color:white;
    /* font-family: monospace; */
}

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
  #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }


  #yourPosts{
    background-color: rgb(243, 192, 255);
  }

  #newPost{
    background-color: white;
    padding: 10px;
    color: rgb(204, 92, 224);
    /* border-color: rgb(183, 89, 204); */
    border-radius: 5px;
    border:2px solid rgb(224, 120, 242);
    text-align:center;
    text-decoration: none;
  }

  #newPost:hover {
    background: rgb(224, 120, 242);
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.navbar-brand {
  text-shadow: 2px 2px rgb(151, 222, 255);
}

.comments{
  background-color: rgba(190, 164, 246, 0.683);
}

.navbar{
  height: 5rem;
}

/* rgb(224, 120, 242) */